.metadata
.launches
.settings
Debug
Debug__GNU
CPLDTest/db*
CPLDTest/incremental_db*
CPLDTest/output_files/*
CPLDTest/simulation/*
CPLDTest/verification/work/*
CPLDTest/timing/*
CPLDTest/pll/greybox_tmp/*
CPLDTest/pll/.qsys_edit/*
CPLDTest/board/*
LCD_Example/*
*.pdf
Models/
CPLDTest/verification/vsim.wlf
CPLDTest/verification/LaserVerification.mpf
CPLDTest/verification/LaserVerification.cr.mti
CPLDTest/top_nativelink_simulation.rpt
CPLDTest/top.qsf
CPLDTest/top.qws
*.zip
*.exe
*.log
